.layout {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}
.w3-badge {
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    border-radius: 50%;
}

.w3-red {
    color: #fff !important;
    background-color: #f44336 !important;
    font-size: smaller;
}

.NavbarItems {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 99;
    grid-column: span 1;
    padding: 30px;
    font-size: 22px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

main {
    color: white;
    background-color: black;
}

footer {
    color: white;
    background-color: black;
    grid-column: span 1;
    padding: 40px;
}

.navbar-logo {
    cursor: pointer;
    height: 60px;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 2rem;
}

.nav-menutitles {
    display: flex;
    list-style: none;
    text-align: center;
    gap: 20px;
    margin-right: 30px;
}
.navbar-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}
.nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.basket {
    color: white;
    cursor: pointer;
    font-size: larger;
}

.nav-links:hover {
    background-color:  #339989;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
    font-size: larger;
}

.basket-container {
    background-color:#131515;
    max-width: 400px;
    min-width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 120px;
    right: 0;
    overflow-y: scroll;
    /* align-items: center;
    justify-content: center; */
    padding: 20px;
    z-index: 100;
}

.basket-container h3 {
    align-self: center;
    margin-bottom: 20px;
    color: teal;
    text-transform: uppercase;
}

.basket-product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
}

.basket-product-left {
    display: flex;
    flex-direction: column;
}

.basket-quantity-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.basket-quantity-container button {
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 20px;
    /* border-radius: 50px;
    padding: 4%; */
}

.basket-quantity-buttons {
    margin-left: 30px;
}

.basket-quantity-container p {
    font-size: smaller;
}
@media screen and (max-width: 960px) {
    .NavbarItems {
        padding-right: 4px;
    }

    .basket-container {
        display: none;
    }
    .nav-menutitles {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 400px;
        position: absolute;
        top: 120px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    } 

    .nav-menutitles.active {
        background-color: #131515;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links {
        text-align:center;
        padding: 2rem 0 2rem 0;
        width: 100%;
        display: block;
        position: relative;
        overflow: hidden;
    }

    .navbar-text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        color: white;
        text-transform: uppercase;
    }

    .nav-links::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.1em;
        background-color:grey;
        transition: opacity 300ms, transform 300ms;
        opacity: 1;
	    transform: translate3d(-100%, 0, 0);
    }
    .nav-links:hover::after, .nav-links:focus::after {
        transform: translate3d(0, 0, 0);
    }
    .nav-links:hover {
        background: none;
        font-weight: 600;
    }

    /* .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-180%, 110%);
        font-size: 1.8rem;
        cursor: pointer;
    } */

    .menu-icon {
        display: flex;
        margin-top: 8px;
    }

    .basket {
        display: none;
    }
    .menu-icons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: larger;
        color:white;
        gap: 20px;
        cursor: pointer;
    }
}