.home {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    align-items: center;
    color: white;
    background-color: black;
    /* min-height: 100%; */
    padding: 90px;
}

.home-logo {
    height: 25vmin;
    pointer-events: none;
}
.home-logotext {
    height: 18vmin;
}

  @media (prefers-reduced-motion: no-preference) {
    .home-logo {
      animation: home-logo-spin infinite 20s linear;
    }
  }

  @keyframes home-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }