.profile-page {
    min-height: 100%;
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: 550px 1fr;
    background-color: black;
}

.card{
    grid-column: span 3;
    font-family: "Candara", sans-serif;
    width: 100%;
    /* overflow: hidden; */
    background: black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
  }
  
  .card-image img{
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
  
  .profile-image img{
    z-index: 1;
    width: 250px;
    height: 250px;
    position: relative;
    margin-top: -150px;
    margin-left: 50px;
    display: block;
    margin-right: auto;
    border-radius: 200px;
    border: 5px solid #fff;
    transition-duration: 0.4s;
    transition-property: transform;
  }
  
  .card-content h3{
    z-index: 1;
    position: relative;
    margin-top: -80px;
    margin-left: 330px;
    display: block;
    margin-right: auto;
    transition-duration: 0.4s;
    transition-property: transform;
    font-size: 35px;
  }
  
  .card-content p{

    z-index: 1;
    position: relative;
    margin-left: 330px;
    display: block;
    margin-right: auto;
    transition-duration: 0.4s;
    transition-property: transform;
    font-size: 25px;
    color: teal
  }

  .profile-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #2B2C28;
    border-radius: 30px;
    grid-column: 2;
  }

  .profile-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    gap: 30px;
    padding: 20px;
  }

  .profile-navigation p {
    font-size: 20px;
    cursor: pointer;
  }

  .profile-navigation p:hover {
    color: rgb(139, 146, 146);
  }

  .profile-sections {
    padding: 30px;
  }

  .section-preview h2{
    margin-bottom: 20px;
    margin-top: 20px;
  }