.reseaux {
    min-height: 100%;
    background-color: thistle;
    display: grid;
    grid-template-columns: 300px 1fr;
}

.categories-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #050505;
} 
.categories-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: x-large;
    padding: 30px;
}

.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
}

.category {
    text-decoration: none;
    margin: 5px;
    color: white;
    cursor: pointer;
}

.category:hover {
    color:grey;
}

.networks {
    background-color: black;
    align-content: flex-start;
    align-items: flex-start;
    padding: 30px;
}

.networks-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: x-large;
    padding-bottom: 30px;
}

.networks-description {
    max-width: 900px;
    display: flex;
}


.filters {
    margin-top:25px;
    margin-bottom: 25px;
    height: 50px;
    text-align: center;
    border: none;
    border-radius: 10px;
}

.filters::-webkit-details-marker {
    display: none;
  }

  .networks-cards {
      padding: 20px;
      display: flex;
      justify-content: column;
  }

  .networks-card {
      display: flex;
      flex-direction: column;
  }

  .card-type {
      color: teal;
  }

  .card-container {
      padding-top: 20px;
      display: flex;
      flex-direction: column;
  }

  .card-top {
      display: flex;
      flex-direction: row;
      min-height: 200px;
      max-width: 1200px;
      background-color: #2B2C28;
  }

  .card-team {
    display: flex;
    flex-direction: row;
    min-height: 150px;
    max-width: 1200px;
    background-color: #2B2C28;
  }

  .card-photo {
      min-width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: beige;
      color: black;
  }

  .card-presentation {
      padding: 20px;
  }

  .presentation-title {
      padding-bottom: 10px;
  }

  .card-team {
      padding: 20px;
      display: flex;
      flex-direction: column;
  }

  .team-members {
      display: flex;
      flex-direction: row;
  }

  .members {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    gap: 30px;
}
  .member-container {
      display: flex;
      flex-direction: column;
      list-style: none;
      text-decoration: none;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 150px;
      background-color:black;
      cursor: pointer;
  }

  .member-container:hover{
      background-color: #2B2C28;
}
/* .reseaux {
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: center;
}


.categories-bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 90;
    width: 250px;
    left: 0;
    align-items: center;
    background-color: #2B2C28;
    min-height: 100vh;
} */

