.shop {
    min-height: 100%;
    background-color: thistle;
    display: grid;
    grid-template-columns: 300px 1fr;
}

.shop-content {
    background-color: black;
    align-content: flex-start;
    align-items: flex-start;
    padding: 30px;
}

.active-filters {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;}

.shop-filters {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

/* .shop-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100px;
} */

.shop-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 100px; */
}

.product-card {
    background-color: #050505;
    text-decoration: none;
    list-style: none;
    flex: 0 1 calc(45% - 1em);
    margin: 40px;
    min-width: 300px;
    min-height: 700px;
    display: flex;
    flex-direction: column;
}

.product-card-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.product-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.product-firstline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: teal;
    padding: 10px;
}

.product-secondline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
}

.product-lastline {
    padding: 20px;
}
.product-network {
    color: teal;
    text-transform: uppercase;
}
button.add {
    color: #fff;
    padding: 10px 10px;
    font-size: smaller;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: lighter;
    background-image: linear-gradient(to right, #339989, #15a0e1);
    cursor: pointer;
    transition: opacity 0.4s;
}
  
  button.add:hover {
    opacity: 0.9;
  }