

.signin {
    min-height: 100vh; 
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    z-index: 1;
  }

.background-video {
    width: 100vw;
    height: 100vh; 
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    -o-filter: blur(15px);
    filter: blur(15px);
    transform: scale(1.04);
}

.main {
    background-color: black;
    z-index: 3;
    color: white;
}

.main a:visited, a{
  color: grey;
}

.login-signup {
  padding-top: 20px;
}
  .main, .signin-side {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .signin-side h1 {
    width: 50%;
    max-width: 50%;
    color:white;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    z-index: 3;
  }
  
  .login-container {
    max-width: 450px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
  }
  
  .separator {
    width: 150px;
    height: 4px;
    background-color: #339989;
    margin: 24px;
  }
  
  .welcome-message {
    text-align: center;
    font-size: 1.2em;
    line-height: 28px;
    margin-bottom: 30px;
    color:white;
    font-family: 'Inter', sans-serif;
  }
  
  .login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .form-control {
    width: 100%;
    position: relative;
    margin-bottom: 24px;
  }
  
  input,
  button {
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1.1em;
  }
  
  input {
    width: 100%;
    background: #e6e6e6;
    color: #333;
    letter-spacing: 0.5px;
    padding: 14px 64px;
  }
  
  input ~ i {
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    transition: color   0.4s;
  }
  
  input:focus ~ i {
    color: #339989;
  }
  
  button.submit {
    color: #fff;
    padding: 14px 64px;
    margin: 32px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    background-image: linear-gradient(to right, #339989, #15a0e1);
    cursor: pointer;
    transition: opacity 0.4s;
  }
  
  button.submit:hover {
    opacity: 0.9;
  }
  
  /* ----  Responsiveness   ----  */
  @media (max-width: 790px) {
  
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .signin-side {
        display: none;
    }
  }


