.user-page {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    background-color: black;
}

.user-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.save {
    color: #fff;
    padding: 14px 64px;
    margin: 32px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    background-image: linear-gradient(to right, #339989, #15a0e1);
    cursor: pointer;
    transition: opacity 0.4s;
  }
  
.save:hover {
    opacity: 0.9;
  }